<span class="fa-stack fa-3x">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
</span>
<h1>Private</h1>
<p>Sorry but this section is restricted!</p>

<% if @message %>
<div class="message">
<h2>Message</h3>
<p><%= @message %></p>
</div>
<% end %>