<!DOCTYPE html>

<html>
<head>
	<meta charset='utf-8' />
	<title>Authentication - Antoine Roy-Gobeil</title>
	<meta content='width=device-width' name='viewport' />
	<link href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet' type='text/css' />
	<link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,600|Cabin:400' rel='stylesheet' />
	<link href='/style.css' rel='stylesheet' type='text/css' />
	<style>
		body {
		  font-family: "Open Sans";
		}
		.container {
			max-width:700px;
			margin:0 auto;
			text-align:center;
			padding-top:50px;
		}

		li {
			text-align:left;
		}

		.btn {
			border: none;
			background: #BF0222;
			color: #ffffff;
			padding: 9px 12px 10px;
			line-height: 22px;
			text-decoration: none;
			width:30%;
			display:block;
			text-align:center;
			margin:0 auto;
		}

		a:link.btn, a:visited.btn {
			color:white;
		}

		.btn:hover {
			background:lighten(#BF0222, 3%);
		}

		div.message {
			margin-top:50px;
		}
	</style>
</head>
<body>
<div class="container">
<%= yield %>
</div>
</body>
</html>