<!DOCTYPE html>

<html>
<head>
	<meta charset='utf-8' />
	<title>Authentication - Antoine Roy-Gobeil</title>
	<link href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet' type='text/css' />
	<link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,600|Cabin:400' rel='stylesheet' />
	<link href='/style.css' rel='stylesheet' type='text/css' />
</head>
<body>
<div class="container">
<%= yield %>
</div>
</body>
</html>