body {
  font-family: "Open Sans";
}
.container {
	max-width:700px;
	margin:0 auto;
	text-align:center;
	padding-top:50px;
}

li {
	text-align:left;
}

.btn {
	border: none;
	background: #BF0222;
	color: #ffffff;
	padding: 9px 12px 10px;
	line-height: 22px;
	text-decoration: none;
	width:30%;
	display:block;
	text-align:center;
	margin:0 auto;
}

a:link.btn, a:visited.btn {
	color:white;
}

.btn:hover {
	background:lighten(#BF0222, 3%);
}