cookie:
  secret: "CHANGE_ME"
  domain: ".antoineroygobeil.com"

auth_domain_proto: "https"
auth_domain: "auth.antoineroygobeil.com"

providers:
  google:
    client_id: "CHANGE_ME"
    client_secret: "CHANGE_ME"

cache:
  cookie: "600"
  host: "10"
  
redis: 
  host: "127.0.0.1"
  port: 6379
  db: 0
